.Header {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid rgba(233, 233, 233, .5);
  z-index: 800;
}

.admin-lock {
  margin: 0 0.5em;
  margin-top: 0.4rem;
  color: grey !important;
  font-size: 0.7rem;
}

.divider {
  border-left: 1px solid lightgray;
  margin: 0.25em 0;
}
